@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
a{
    transition: 0.2s;
}
a:hover{
    opacity: 0.5;
    cursor: pointer;
}

a,
h1,
h2,
h3,
h4,
h5,
p,
span,
ul,
li,
button,
table,
td,
th,
tr {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
}

button,
input,
select,
textarea{
    outline: none;
    border: none;
    background: none;
    font-family: 'Montserrat', sans-serif;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background: white;
    padding: 25px 220px;
    box-shadow: rgb(241 243 244) 0 4px 18px;
}
.header__left{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
}
.header__left-logo{
    font-size: 36px;
    font-weight: 700;
    color: #336633;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 36px;
}
.header--item{
    font-size: 18px;
    font-weight: 500;
    color: #009900;
    display: flex;
    align-items: center;
    gap: 5px;
}
.svg{
    width: 18px;
}
.main{
    margin: 150px auto;
    max-width: 1480px;
}
.main__developers-title{
    font-size: 36px;
    color: #336633;
    font-weight: 600;
    text-align: center;
}
.main__developers{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.main__developers-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.main__developers-item{
    width: 400px;
    height: 400px;
    background: white;
    border: 5px solid #f6f6f6;
    border-radius: 50px;
    box-shadow: rgb(241 243 244) 0 4px 18px;
    transition: 0.2s;
}
.main__developers-item:hover, .main__catalog-item:hover{
    transform: translateY(-20px);
    box-shadow: 0 0 10px 0 #336633;
    cursor: pointer;
}
.main__catalog{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 70px;
}
.main__catalog-item{
    width: 300px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 3px solid #336633;
    border-radius: 50px;
    transition: 0.2s;
}
.main__catalog-item--text{
    font-size: 30px;
    line-height: 30px;
    font-weight: 500;
}
.main__catalog-item--pic{
    width: 30px;
}
.main__products{
    display: flex;
    align-items: flex-start;
    gap: 50px;
    flex-wrap: wrap;
    max-width: 1200px;
    margin-bottom: 100px;
}
.products__item{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 3px solid #336633;
    border-radius: 30px;
    padding: 15px 25px;
    width: 250px;
    position: relative;
}
.products__item-image{
    width: 150px;
    border-radius: 30px;
}
.products__item-title{
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    height: 40px;
}
.products__item-description{
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    color: lightgray;
    display: none;
}
.products__item-cost{
    font-size: 18px;
    line-height: 18px;
    font-weight: 500;
    color: #336633;
}
.products__item-cost--flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}
.products__item-buy{
    font-size: 16px;
    font-weight: 500;
    line-height: 15px;
    color: #009900;
    border: 1px solid #009900;
    border-radius: 10px;
    padding: 10px;
    transition: 0.2s;
}
.products__item-buy:hover{
    opacity: 0.5;
    cursor: pointer;
}
.products__item-like{
    position: absolute;
    transition: 0.2s;
    top: 15px;
    right: 16px;
}
.products__item-like path{
    transition: 0.2s;
}
.products__item-like:hover path{
    fill: red;
    cursor: pointer;
}
.products__item-watch{
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    color: gray;
    text-decoration: underline;
}
.products__desc{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.main__flex{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.main__search{
    border: 3px solid #009900;
    box-shadow: 0 0 0 1px lightgray;
    width: 250px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 25px 20px;
}
.main__search-input, .filter__inputs-input{
    border: 2px solid #009900;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
}
.main__search-input::placeholder{
    color: lightgray;
}
.main__search-button, .main__search-button--sort, .main__search-button--filter{
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
    color: white;
    background: #009900;
    transition: 0.2s;
    border-radius: 15px;
    padding: 15px 30px;
}
.main__search-button:hover, .main__search-button--sort:hover, .main__search-button--filter:hover{
    color: #009900;
    outline: 1px solid #009900;
    background: none;
    cursor: pointer;
}
.main__search-flex{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.main__search-filter{
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    color: black;
}
.main__search-select{
    border: 2px solid #009900;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
}
.main__pagination{
    display: flex;
    align-items: center;
    gap: 5px;
}
.main__pagination-item{
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    color: #336633;
    border: 1px solid #336633;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.filter__inputs{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}
.filter__inputs-input{
    width: 80px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.main__recipes{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 700px;
    gap: 11px;

}
.main__recipes-item{
    width: 200px;
    height: 400px;
    border: 3px solid #336633;
    border-radius: 50px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.main__recipes-item--img{
    width: 100%;
    border-radius: 40px;
}
.main__recipes-item--title{
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
}
#recipe{
    display: none;
}
.products__item-food{
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
}
.header__right{
    display: flex;
    align-items: center;
    gap: 15px;
}
.cart{
    border: 3px solid #336633;
    border-radius: 30px;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.cart__free{
    text-align: center;
    font-size: 32px;
    line-height: 32px;
    color: #336633;
    font-weight: 700;
    padding: 20px;
}
.cart__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 30px 0;
    border-bottom: 1px solid #009900;
}
.cart__item-right, .cart__item-left{
    display: flex;
    align-items: center;
    gap: 15px;
}
.cart__item-image{
    width: 100px;
    border-radius: 10px;
}
.cart__item-name{
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;
    text-overflow: ellipsis;
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
}
.cart__item-desc{
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    color: lightgray;
    text-overflow: ellipsis;
    max-width: 350px;
    overflow: hidden;
    white-space: nowrap;
}
.cart__item-value{
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
}
.cart__item-value--text{
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
}
.cart__item-value--input{
    border: 1px solid #009900;
    border-radius: 10px;
    padding: 5px 15px;
}
.cart__item-value--input--plus{
    font-size: 20px;
    line-height: 20px;
    color: #009900;
    font-weight: 600;
    position: absolute;
    right: 5px;
    user-select: none;
}
.cart__item-buy{
    background: none;
    border: 1px solid #009900;
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    padding: 10px 20px;
    color: #009900;
    border-radius: 20px;
}
.cart__order{
    border: 3px solid #009900;
    font-size: 30px;
    font-weight: 500;
    line-height: 30px;
    padding: 20px 0;
    border-radius: 50px;
    text-align: center;
    color: #009900;
    width: 300px;
    margin: auto;
}
.cart__inputs{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 50px auto;
}
.cart--input, .cart--textarea{
    border: 2px solid #009900;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    width: 400px;
}
.cart--textarea{
    height: 150px;
    resize: none;
}
.cart--input::placeholder, .cart--textarea::placeholder{
    color: lightgray;
}
.cart--finish{
    font-size: 24px;
    line-height: 24px;
    color: #009900;
    border-radius: 15px;
    border: 2px solid #009900;
    width: 200px;
    text-align: center;
    padding: 10px 0;
    margin: 0 auto;
}
.cart--title{
    text-align: center;
    font-size: 36px;
    line-height: 36px;
    color: #336633;
}
.cart--price{
    text-align: center;
    font-size: 36px;
    line-height: 36px;
    color: #336633;
}
.cart--type{
    font-size: 15px;
    line-height: 15px;
    font-weight: 600;
    color: gray;
    text-align: center;
}
.auth{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.auth > .header__left-logo{
    justify-content: center;
}
.auth--item{
    border: 2px solid #336633;
    box-shadow: 0 0 0 1px lightgray;
    border-radius: 25px;
    padding: 10px 20px;
    width: calc(100% - 200px);
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
}
.auth--button{
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    background: white;
    outline: 2px solid #336633;
    color: #336633;
    padding: 10px 20px;
    border-radius: 15px;
    width: calc(100% - 250px);
    margin-top: 15px;
    transition: 0.2s;
}
.auth--button:hover{
    background: #336633;
    outline: none;
    color: white;
    cursor: pointer;
}
.auth--already{
    color: gray;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    text-decoration: underline;
    margin-top: 10px;
}
.profile--left{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    max-width: 420px;
}
.profile__item{
    display: flex;
    align-items: center;
    gap: 50px;
}
.profile__item-title{
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
    width: 150px;
}
.profile__item-value{
    outline: 1px solid #009900;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
}
.profile__item-value:disabled{
    outline: none;
}
.profile__edit{
    margin: 25px auto;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    color: #009900;
    outline: 2px solid #009900;
    background: none;
    border-radius: 15px;
    padding: 10px 0;
    transition: 0.2s;
    width: 100%;
}
.profile__edit:hover{
    cursor: pointer;
    background: #009900;
    color: white;
    outline: none;
}